[user]
    name = Tiago Pessoa
    email = 70546713+tcpessoa@users.noreply.github.com
[core]
    editor = nvim
[init]
	defaultBranch = main
[includeIf "gitdir:~/work/"]
    path = ~/repos_work/.gitconfig
