.DS_Store
tmux/.config/tmux/plugins/*

# ZSH
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_sessions/*
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zshrc_work
zsh/.config/zsh/.zshrc_work.bak
zsh/.config/zsh/env_work.zsh
zsh/.config/zsh/env.local

